@custom-media --mq-large (min-width: 1910px);
@custom-media --mq-tablet (max-width: 1030px);
@custom-media --mq-mobile (max-width: 800px);

:root {
    --grey: #E7E7E7;
    --black: #141616;
    --red: #D84F31;
    --p-width: 49.9%;
    --p-padding: 49px 0;
    --header-footer-margin: 0 17px;
    --header-footer-height: 71px;
    --border-top: 4px solid var(--black);
    --border-bottom: 4px solid var(--black);
    --slash-margin: 0 20px;
    --intro-padding: 247px 0 186px 0;
    --project-page-label-margin: 71px;
    --project-image-margin: 17px;
    --prevnext-margin: 0 0 61px 0;
    --to-top-height: 61px;
    --to-top-margin: 149px 0;
}

/*Media Qs*/

@media (--mq-large) {
    :root {
        --p-width: 36.87%;
        --p-padding: 61px 0;
        --header-footer-height: 86px;
        --border-top: 4px solid var(--black);
        --border-bottom: 4px solid var(--black);
        --slash-margin: 0 20px;
        --intro-padding: 309px 0 233px 0;
        --project-page-label-margin: 86px;
        --project-image-margin: 25px;
        --prevnext-margin: 0 0 76px 0;
        --to-top-height: 76px;
        --to-top-margin: 186px 0;
    }
}

@media (--mq-tablet) {
    :root {
        --p-width: 49.15%;
        --p-padding: 61px 0;
        --header-footer-height: 43px;
        --border-top: 2px solid var(--black);
        --border-bottom: 2px solid var(--black);
        --slash-margin: 0 17px;
        --intro-padding: 192px 0 149px 0;
        --project-page-label-margin: 43px;
        --project-image-margin: 17px;
        --prevnext-margin: 0 0 43px 0;
        --to-top-height: 43px;
        --to-top-margin: 127px 0;
    }
}

@media (--mq-mobile) {
    :root {
        --p-width: 100%;
        --p-padding: 34px 0;
        --header-footer-margin: 0 25px;
        --header-footer-height: 34px;
        --border-top: 2px solid var(--black);
        --border-bottom: 2px solid var(--black);
        --slash-margin: 0 14px;
        --intro-padding: 95px 0 61px 0;
        --project-page-label-margin: 76px;
        --project-image-margin: 8px;
        --prevnext-margin: 0 0 34px 0;
        --to-top-height: 34px;
        --to-top-margin: 104px 0;
    }
}

/*Default CSS*/

body {
    padding: 0 17px;
    color: var(--black);
    background-color: var(--grey);
}

p {
    width: var(--p-width);
    padding: var(--p-padding);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--grey);
}

.regular-header-content {
    margin: var(--header-footer-margin);
}

.regular-header-content .home {
    width: 700px;
}

.regular-header-content, footer {
    height: var(--header-footer-height);
}

.border-top { border-top: var(--border-top); }
.border-bottom { border-bottom: var(--border-bottom); }

.slash {
    margin: var(--slash-margin);
}

.intro {
    padding: var(--intro-padding);
}

.hero-image {
    height: 60vh;
    width: 100%;
}

.project-label {
    height: var(--header-footer-height);
}

.project-page-label {
    margin-top: var(--project-page-label-margin);
}

.project-image {
    margin-bottom: var(--project-image-margin);
}
.project-image:last-of-type {
    margin-bottom: 0;
}

.project-video, .project-image, .project {
    transition: 0.5s ease;
}

.project-outofview {
    transform: translateY(30px) scale(0.9);
    opacity: 0;
}

.cursor {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--black);
    position: absolute;
    top: 100%;
    left: 100%;
    pointer-events: none;
    z-index: 1000;
    transform: translate(10px, 10px);
}

.cursor-hover {
    background-color: var(--red);
  }
  
 .cursor-light {
    background-color: var(--grey);
    mix-blend-mode: difference;
  }

body, a {
    cursor: none;
}

img, .regular-header-content, .project-label {
    width: 100%;
}

header, footer, .regular-header-content, .project-label, .prevnext {
    flex-direction: row;
    align-items: center;
}

header, footer, header div, footer a, .regular-header-content, .project-label, .totop-container, .prevnext {
    display: flex;
}

.totop-container {
    justify-content: center;
}

.prevnext {
    margin: var(--prevnext-margin);
}

.next {
    text-align: right;
    cursor: url("assets/rightarrow-medium.png"), auto;
}

.prev {
    cursor: url("assets/leftarrow-medium.png"), auto;
}

footer {
    justify-content: flex-end;
}

.regular-header-content, .project-label, .mobile-header-content, .prevnext {
    justify-content: space-between;
}

.red {
    color: var(--red);
}

.hero-image {
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-image::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: var(--red);
    transition: opacity 0.3s ease;
}

.project:hover .hero-image::after {
    opacity: 0.3;
}

.analog-hero{background-image: url("assets/analog-1-l.jpg");}
.alisya-hero{background-image: url("assets/alisya-1-l.jpg");}
.classy-hero{background-image: url("assets/DSC_2065.jpg");}

.totop {
    height: var(--to-top-height);
    margin: var(--to-top-margin); 
    transform: rotate(180deg);
}

.sub-description {
    padding: 20px 0;
}

.mobile-header-content, .mobile-menu, .project-image-mobile {
    display:none;
}

.invisible {
    display:none;
}

.visible {
    display: block;
}

.me-img {
    background-image: url(assets/dumbass.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position:center;
    width: 600px;
    height: 700px;
    margin: 200px 0 0 5%;
    position: relative;
}

.doodle {
    position: absolute;
}

.horn1 {
    width: 50px;
    top: 285px;
    left:80px;
    transform: rotate(-15deg);
}

.horn2 {
    width: 55px;
    top: 215px;
    left:300px;
    transform: rotate(-25deg);
}

.moustache {
    width: 170px;
    top: 535px;
    left:210px;
    transform: rotate(-15deg);
}

.goatee {
    width: 60px;
    top:605px;
    left:310px;
    transform: rotate(-15deg);
}

.arrow {
    width: 300px;
}

.arrow:first-of-type {
    margin-left: 40%;
    transform: translateY(-50%);
}

.arrow:last-of-type {
    margin: 100px 0 50px 60%;
    transform: rotate(90deg)
}

.about h3 {
    width: var(--p-width);
}

.about h3:first-of-type {
    margin-left: 50%;
}

.about h3:last-of-type {
    margin: 50px 0 300px 30%;
}
/*More media queries*/

@media only screen and (hover: none) {
    .cursor {
        display: none;
    }
}

@media (--mq-large) {
    .next {
        cursor: url("assets/rightarrow-large.png"), auto;
    }
    
    .prev {
        cursor: url("assets/leftarrow-large.png"), auto;
    }
}

@media (--mq-mobile) {
    body {
        padding: 0 8px;
    }

    footer {
        display: none;
    }

    .regular-header-content, .project-label h4:last-of-type, .project-image-desktop {
        display:none;
    }

    .project-label {
        height: var(--header-footer-height);
    }

    footer, footer a, .mobile-menu {
        justify-content: center;
    }

    .mobile-header-content, .mobile-menu {
        display: flex;
    }

    .mobile-header-content {
        flex-direction: row;
        width: 100%;
        margin: 8px;
    }

    .logo {
        transform: translateX(-3px);
    }

    .logo span {
        font-size: 34px;
        color: var(--red);
    }

    .logo span:last-of-type {
        position: absolute;
        left: 22px
    }

    .burger {
        transform: translateX(3px);
        font-size: 35px;
        color: var(--red);
        transform: rotate(90deg);
        z-index:20;
        transition: transform 0.5s ease;
        padding: 2em;
        margin: -2em;
    }

    .burger-active {
        transform: rotate(-90deg);
        color: var(--grey);
    }

    .mobile-menu {
        position:absolute;
        top:0;
        left:101vw;
        width:100vw;
        height:100vh;
        background-color: var(--red);
        flex-direction: column;
        padding: 8px;
        transition: left 0.3s ease;
    }

    .mobile-menu-active {
        left: 0;
    }

    .mobile-menu h1 {
        color: var(--grey)
    }

    .project-image-mobile {
        display: block;
    }
}
    